# dependencies
node_modules

# yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# eslint
.eslintcache

# environment / secrets
.env
.env.local

# misc
.DS_Store

# IDE
.vscode
.idea

# cli
dist
